<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="field-container">
                <div>Restourent Name</div>
                <input type="text">
            </div>
            <div class="field-container">
                <div>Location</div>
                <input type="text">
            </div>
            <div class="field-container">
                <div>Food Items</div>
                <input type="text">
            </div>
            <div class="field-container">
                <div>Price</div>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="btn">
        <button type="button">Submit</button>
    </div>
</div>